{{ define "main" }}
<p style="text-align:left; margin-left:17px">Data, graphics, and journalism <br /> <a href="https://twitter.com/naterattner" target="_blank">@naterattner</a></p>
	<ul id="og-grid" class="og-grid">
		{{ range $.Site.Data.artworks.artworks }}
			<li>
				<a 
					href="" 
					data-largesrc="{{ .image }}" 
					data-title="{{ .title }}" 
					data-mediums="{{ .mediums | markdownify}}"
					data-dimensions="{{ .dimensions | markdownify}}"
					data-description="{{ .description | markdownify}}">
					<img class="d-none d-sm-block" src="{{ .thumb }}" alt="{{ .alt }}">
					<img class="d-block d-sm-none" src="{{ .image }}" alt="{{ .alt }}">
					{{ .title | markdownify }}
				</a>
			</li>
		{{ end }}
	</ul>
{{ end }}